// Colors
$theme-1: rgb(90, 159, 228);
$theme-2: rgb(33, 112, 196);
$theme-3: rgb(83, 202, 255);
$theme-4: rgb(22, 0, 73);


// Fonts
$comfortaa: 'Comfortaa', cursive;
$flamenco: 'Flamenco', cursive;
$gochi-hand: 'Gochi Hand', cursive;
$itim: 'Itim', cursive;
$poiret-one: 'Poiret One', cursive;
$righteous: 'Righteous', cursive;
$source-code-pro: 'Source Code Pro', monospace;




