// Welcome Section
.welcome {
    margin-top: 6rem;
    
    &__heading {
        font-family: $flamenco;
        font-size: 4rem;
        color: $theme-2;
    }

    &__blurb {
        color: black;
        font-weight: 400;
        padding-top: 2rem;
    }
}


// Mouse-tracking image
.main-img-container {
    margin: 0;
    position: relative;
    top: 40%;
    left: 40%;
    background-image: url("/assets/images/logo-warp-imgs/0.png");
    background-repeat: no-repeat;    
    background-position: center;
    background-size: 50%;
    width: 10%;
    max-width: 20rem;
    min-width: 16rem;
    height: 10%;
    max-height: 20rem;
    min-height: 16rem;
    visibility: hidden;
}


// Projects Section
.project-deck {
    padding: 4rem 4rem 2rem;
    margin: 6rem 0 0 0;
}

.project-card {
    text-align: center;
    transition: all 250ms ease-in-out;
    
    .card-header {
        background-color: rgb(250, 250, 250);
        padding: 1rem 1rem;
    }
    
    &:hover {
        color: $theme-2;
        border-color: $theme-1;
        font-size: larger;
        box-shadow: rgb(177, 177, 177) 0 0 1rem 0.25rem;
    }
}
