.welcome {
    color: white;
}

.main-img-container {
    margin-top: 4rem;
    // background-color: rgb(245, 245, 245);
    background-image: url("/assets/images/0.png");
    background-repeat: no-repeat;    
    background-position: center;
    background-size: 50%;
    width: 20vw;
    max-width: 20rem;
    min-width: 16rem;
    height: 20vh;
    max-height: 20rem;
    min-height: 16rem;
}

