.welcome {
    color: white;
}

.main-img-container {
    position: absolute;
    top: 35%;
    left: 40%;
    background-image: url("/assets/images/logo-warp-imgs/0.png");
    background-repeat: no-repeat;    
    background-position: center;
    background-size: 50%;
    width: 10%;
    max-width: 20rem;
    min-width: 16rem;
    height: 10%;
    max-height: 20rem;
    min-height: 16rem;
}

