.projects-deck {
    padding: 2rem 0 2rem;
    margin: 2rem auto 0 auto;

    @include media-breakpoint-down(lg) {
        padding: 1rem;
        margin-top: 1rem;
    }

    .project {
        padding-top: 4rem;
    }

    .project-card {
        margin-bottom: 4rem;
    }

    .project-title {
        color: $theme-2;
    }

    button {
        display: inline-block;
        width: 100%;
        padding: 0.5625rem 1rem;
        text-align: left;
        font-size: 1rem;
        border: none;
        background: none;
        transition: all 150ms ease-in-out;

        i {
            margin-left: 0.5rem;
        }

        &:hover {
            color: $theme-1;
        }

        @include media-breakpoint-down(lg) {
            text-align: center;
        }
    }

    .card-footer {
        padding: 0;
        transition: all 150ms ease-in-out;

        @include media-breakpoint-down(lg) {
            text-align: center;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }


    // Project details
    .project-details {
        margin-top: 3rem;
    }

    .social-icon {
        margin-right: 0.7rem;
    }
}